/* Start global rules */
* {
    box-sizing: border-box;
}
:root {
    --main-color: #2196F3;
    --main-color-alt: #1787E0;
    --header-height: 72px;
    --main-transition-duration: 0.3s;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End global rules */
/* Start Header */
header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}
header .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
@media (max-width: 768px) {
    header .container {
        flex-direction: column;
    }
}
/* Logo */
header .logo {
    color: var(--main-color);
    font-size: 28px;
    font-weight: bold;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    header .logo {
        height: 50px;
        margin: auto;
    }
}
/* Nav links */
header .main-nav {
    display: flex;
} 
@media (max-width: 768px) {
    header .main-nav {
        margin: auto;
    }
}
header .main-nav > li > a {
    color: black;
    font-size: 18px;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    position: relative;
    transition-duration: var(--main-transition-duration);
    z-index: 2;
}
@media (max-width: 768px) {
    header .main-nav > li > a {
        padding: 0 10px;
        transition-duration: var(--main-transition-duration);
        font-size: 14px;
        height: 30px;
    }
}
header .main-nav > li > a:hover {
    color: var(--main-color);
}
header .main-nav > li > a::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 0%;
    height: 4px;
    top: 0;
    left: 0;
    transition-duration: var(--main-transition-duration);
}
header .main-nav > li > a::after {
    content: "";
    position: absolute;
    height: calc(100% - 4px);
    width: 0%;
    top: 4px;
    left: 0;
    background-color: #FAFAFA;
    transition-duration: var(--main-transition-duration);
    z-index: -1;
}
header .main-nav > li > a:hover::before {
    width: 100%;
}
header .main-nav > li > a:hover::after {
    width: 100%;
}
/* End Header */
