/* Start global rules */
* {
    box-sizing: border-box;
}
:root {
    --main-color: #2196F3;
    --main-color-alt: #1787E0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End global rules */
/* Start Header */
header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}
header .container {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 768px) {
    header .container {
        flex-direction: column;
    }
}
header .logo > a {
    color: var(--main-color);
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    line-height: 72px;
}
@media (max-width: 768px) {
    header .logo {
        width: fit-content;
        margin: auto;
    }
    header .logo > a {
        line-height: 50px;
    }
}
header .main-nav {
    display: flex;
    justify-content: space-around;
    /* width: 500px; */
    height: fit-content;
} 
@media (max-width: 768px) {
    header ul {
        margin: auto;
    }
}
header .main-nav > li > a {
    display: block;
    line-height: 72px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 0 30px;
    white-space: nowrap;
    position: relative;
    transition-duration: 0.5s;
}
@media (max-width: 768px) {
    header .main-nav > li > a {
        padding: 0 10px;
        transition-duration: 0.5s;
        font-size: 14px;
        line-height: 30px;
    }
}
header .main-nav > li > a:hover {
    color: var(--main-color);
}
header .main-nav > li > a::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 0%;
    height: 4px;
    left: 0;
    transition-duration: .5s;
}
header .main-nav > li > a:hover::before {
    width: 100%;
}
/* End Header */
