/* Start global rules */
* {
    box-sizing: border-box;
}
:root {
    --main-color: #2196F3;
    --main-color-alt: #1787E0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End global rules */
/* Start Header */
header {
    /* background-color: #eee; */
}
header .container {
    display: flex;
    justify-content: space-between;
}
header .logo > a {
    color: var(--main-color);
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}
header a {
    display: block;
    /* background-color: grey; */
    height: 80px;
    line-height: 72px;
}
header ul {
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: fit-content;
} 
header ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 0 30px;
    white-space: nowrap;
    position: relative;
}
header ul li a:hover {
    color: var(--main-color);
}
header ul li a::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 0%;
    height: 4px;
    left: 0;
    transition-duration: .3s;
}
header ul li a:hover::before {
    width: 100%;
}
/* End Header */
