/* Start global rules */
* {
    box-sizing: border-box;
}
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --header-height: 72px;
    --main-transition-duration: 0.3s;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End global rules */
/* Start Header */
header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}
header .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
/* Logo */
header .logo {
    color: var(--main-color);
    font-size: 28px;
    font-weight: bold;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    header .logo {
        width: 100%;
        height: 50px;
    }
}
/* Nav links */
header .main-nav {
    display: flex;
}
@media (max-width: 768px) {
    header .main-nav {
        margin: auto;
    }
}
header .main-nav > li > a {
    color: black;
    font-size: 18px;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    position: relative;
    transition-duration: var(--main-transition-duration);
    z-index: 2;
}
@media (max-width: 767.98px) {
    header .main-nav > li > a {
        padding: 0 10px;
        transition-duration: var(--main-transition-duration);
        font-size: 14px;
        height: 30px;
    }
}
header .main-nav > li > a:hover {
    color: var(--main-color);
}
header .main-nav > li > a::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 0%;
    height: 4px;
    top: 0;
    left: 0;
    transition-duration: var(--main-transition-duration);
}
header .main-nav > li > a::after {
    content: "";
    position: absolute;
    height: calc(100% - 4px);
    width: 0%;
    top: 4px;
    left: 0;
    background-color: #fafafa;
    transition-duration: var(--main-transition-duration);
    z-index: -1;
}
header .main-nav > li > a:hover::before {
    width: 100%;
}
header .main-nav > li > a:hover::after {
    width: 100%;
}
/* End Header */
/* Start Landing */
.landing {
    height: calc(100vh - 72px);
    background-color: #eaeaea;
    position: relative;
    overflow: hidden;
}
/* The white triangle */
.landing::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: -240px;
    background-color: white;
    height: 362px;
    transform: skew(0deg, -6deg);
}
@media (max-width: 767.98px) {
    .landing::after {
        height: 310px;
    }
}
.landing .container {
    display: flex;
    height: 80%;
}
/* The text */
.landing .container > .text {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width: 1199.98px) {
    .landing .container > .text {
        flex-basis: 350px;
    }
}
@media (max-width: 991.98px) {
    .landing .container > .text {
        max-width: 520px;
        margin: auto;
    }
}
@media (max-width: 767.98px) {
    .landing .container > .text {
        max-width: 500px;
        flex-basis: 100px;
        margin: auto;
    }
}
/* @media (max-width: 500px) {
    .landing .container > .text {
        min-width: fit-content;
        margin: auto;
    }
} */
.landing .container > .text h1 {
    font-size: 40px;
    letter-spacing: -1px;
    margin: 0;
}
.landing .container > .text p {
    margin: 5px 0;
    font-size: 23px;
    line-height: 1.5;
    color: #686868;
}
@media (max-width: 991.98px) {
    .landing .container > .text h1,
    .landing .container > .text p {
        text-align: center;
    }
    .landing .container > .text p {
        line-height: 1.7;
    }
}
@media (max-width: 767.98px) {
    .landing .container > .text h1 {
        font-size: 28px;
    }
    .landing .container > .text p {
        font-size: 18px;
    }
}
/* The image */
@media (max-width: 991.98px) {
    .landing .container > .landing-image {
        display: none;
    }
}
.landing .container > .landing-image > img {
    max-width: 100%;
    height: auto;
    animation: elevator-image 4s linear infinite;
}
@keyframes elevator-image {
    0% {
        transform: translateY(15%);
    }
    50% {
        transform: translateY(8%);
    }
    100% {
        transform: translateY(15%);
    }
}
/* Bottom arrow */
.landing .scroll-bottom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    animation: scroll-bottom 1.5s ease infinite;
    z-index: 1;
}
@keyframes scroll-bottom {
    0% {
        transform: translateY(0px);
    }
    10% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(0px);
    }
    40% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-15px);
    }
    80% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
    }
}
.landing .scroll-bottom {
    color: var(--main-color-alt);
    font-size: 15px;
    font-weight: bolder;
}
/* End Landing */
