/* Start global rules */
* {
    box-sizing: border-box;
}
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --header-height: 72px;
    --main-transition-duration: 0.3s;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End global rules */
/* Start Header */
header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}
header .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
/* Logo */
header .logo {
    color: var(--main-color);
    font-size: 28px;
    font-weight: bold;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    header .logo {
        width: 100%;
        height: 50px;
    }
}
/* Nav links */
header .main-nav {
    display: flex;
}
header .main-nav li:last-child a:hover + .mega-menu {
    z-index: 1;
    transform: translate(-50%, 0);
    opacity: 100%;
}
@media (max-width: 768px) {
    header .main-nav {
        margin: auto;
    }
}
header .main-nav > li > a {
    color: black;
    font-size: 18px;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    position: relative;
    transition-duration: var(--main-transition-duration);
    z-index: 2;
}
@media (max-width: 767.98px) {
    header .main-nav > li > a {
        padding: 0 10px;
        transition-duration: var(--main-transition-duration);
        font-size: 14px;
        height: 30px;
    }
}
header .main-nav > li > a:hover {
    color: var(--main-color);
}
header .main-nav > li > a::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 0%;
    height: 4px;
    top: 0;
    left: 0;
    transition-duration: var(--main-transition-duration);
}
header .main-nav > li > a::after {
    content: "";
    position: absolute;
    height: calc(100% - 4px);
    width: 0%;
    top: 4px;
    left: 0;
    background-color: #fafafa;
    transition-duration: var(--main-transition-duration);
    z-index: -1;
}
header .main-nav > li > a:hover::before {
    width: 100%;
}
header .main-nav > li > a:hover::after {
    width: 100%;
}
/* Start Mega Menu */
.mega-menu {
    position: absolute;
    z-index: -10;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition-duration: var(--main-transition-duration);
}
.mega-menu .container {
    background-color: white;
    border-top: 1px solid rgb(227, 226, 226);
    border-bottom: 3px solid var(--main-color);
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
@media (max-width: 767.98px) {
    .mega-menu .container {
        display: block;
        width: 100vw;
        padding: 0;
    }
}
/* The image */
.mega-menu .image img {
    max-width: 523px;
}
@media (max-width: 1199.98px) {
    .mega-menu .image img {
        max-width: 330px;
    }
}
@media (max-width: 991.98px) {
    .mega-menu .image {
        display: none;
    }
}
/* the links */
.mega-menu ul {
    flex-basis: 250px;
    height: fit-content;
}
@media (max-width: 991.98px) {
    .mega-menu ul {
        flex-basis: 325px;
        height: fit-content;
    }
}
.mega-menu ul li {
    padding: 15px;
    position: relative;
}
.mega-menu ul :not(:last-child) {
    border-bottom: 1px solid rgb(227, 226, 226);
}
@media (max-width: 767.98px) {
    .mega-menu ul:last-of-type li:first-child {
        border-top: 1px solid rgb(227, 226, 226);
    }
}
.mega-menu ul li a {
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
}
.mega-menu ul li a > i {
    margin-right: 12px;
}
/* End Mega Menu */
/* End Header */
/* Start Landing */
.landing {
    background-color: #eaeaea;
    position: relative;
    z-index: -1;
    overflow: hidden;
}
/* The white triangle */
.landing::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: -240px;
    background-color: white;
    height: 362px;
    transform: skew(0deg, -6deg);
}
@media (max-width: 767.98px) {
    .landing::after {
        height: 310px;
    }
}
.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}
/* The text */
.landing .container > .text {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width: 1199.98px) {
    .landing .container > .text {
        flex-basis: 350px;
    }
}
@media (max-width: 991.98px) {
    .landing .container > .text {
        max-width: 520px;
        margin: auto;
    }
}
@media (max-width: 767.98px) {
    .landing .container > .text {
        max-width: 500px;
        flex-basis: 100px;
        margin: auto;
    }
}
.landing .container > .text h1 {
    font-size: 40px;
    letter-spacing: -2px;
    margin: 0;
}
.landing .container > .text p {
    margin: 5px 0;
    font-size: 23px;
    line-height: 1.7;
    color: #666;
}
@media (max-width: 991.98px) {
    .landing .container > .text h1,
    .landing .container > .text p {
        text-align: center;
    }
}
@media (max-width: 767.98px) {
    .landing .container > .text h1 {
        font-size: 28px;
    }
    .landing .container > .text p {
        font-size: 18px;
    }
}
/* The image */
@media (max-width: 991.98px) {
    .landing .container > .landing-image {
        display: none;
    }
}
.landing .container > .landing-image > img {
    max-width: 100%;
    height: auto;
    animation: elevator-image 5s linear infinite;
}
/* Bottom arrow */
.landing .scroll-bottom {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 49%;
    transform: translateX(-50%);
    transition-duration: var(--main-transition-duration);
    animation: bouncing 1.5s ease infinite;
    z-index: 1;
}
.landing .scroll-bottom:hover {
    color: var(--main-color-alt);
}
/* End Landing */
/* Start Animation */
@keyframes elevator-image {
    0%,
    100% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(0%);
    }
}
@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0px);
    }
    40%, 
    60% {
        transform: translateY(-15px);
    }
}
/* End Animation */